@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  color: #555;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color: #ffffff;
  height: 150px;
  line-height: 150px;
}

#header a {
  color: #000000;
  text-decoration: none;


  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
    color: #4bfafa;
}

#header-title {
  text-align: left;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}

#header-phone {
  display: block;
  margin: auto;
  font-size: 50px;
  text-align: center;
}

#header-nav {
  display: block;
  margin-top: 0;
  text-align: right;
  overflow-x: visible;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
  overflow: visible;
  box-sizing: border-box;
  position: relative;
}

#GMap {
  margin: auto;
  width:calc(100% - 0.5px);
  min-width: initial;
  height: 100%;
}

h1 {
  font-size: 75px;
}

.why {
  text-align: center;
  background-color: #ffffff;
}

#bgVideovideo {
  opacity: 1;
  margin: auto;
  position: absolute;
  min-width: 980px;
  min-height: 551px;
  left: 0px;
  top: -75px;
}

.reasons {
  background-color: #919494;
  font-style: jura, sans-serif;
  font-size: 18px;
}

.container {
  margin: 0 auto;
}

.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}

#about-title {
  background-color: #4bfafa;
}

#footer {
  background-color: #ffffff;
  padding: 50px 100;
}

#footer-nav {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25em;
  display: block;
  overflow-x: visible;
  text-align: center;
}
#footer-nav li {
  display: inline;
  padding: 125px;
}

#footer a {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  color: #F6A623;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
