@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  color: #000000;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color: white;
  height: 150px;
  font-family:impact,sans-serif;
}

#header a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

#header a:hover {
    color: #F6A623;
}

#header-title {
  text-align: left;
  display: block;
  float: left;
}

#header-title img {
  object-position: 50% 50%;
  width: 400px;
  height: 100px;
  object-fit: cover;

}

#header-phone {
  display: inline-block;
  margin-top: 40px;
  margin-left: 100px;
  font-size: 50px;
  text-align: center;
}

#header-nav {
  display: inline-block;
  margin-left: 100px;
  padding: 0;
  text-align: right;
}

#header-nav li {
  padding-left: 50px;
  display: inline;
}

#YMap {
  border: 0;
  margin: auto;
  width:calc(100% - 0.5px);
  min-width: initial;
  height: 350px;
}

.why {
  text-align: center;
  background-color: white;
}

.contact {
  text-align: center;
  font-size: 15px;
}

#bgVideovideo {
  opacity: 1;
  margin: auto;
  position: absolute;
  min-width: 980px;
  min-height: 551px;
  left: 0px;
  top: -75px;
}

.reasons {
  background-color: gray;
  font-style: sans-serif;
  font-size: 18px;
}

.container {
  margin: 0 auto;
}

#clients-title {
  text-align: center;
  font-size: 75px;
}

#why-title {
  font-size: 75px;
  text-align: center;
  background-color: white;
  margin: 0;
  font-weight: bold;
}

#clients-list li {
  display: inline;
  padding: 35px;
  
}

#footer {
  background-color: white;
}

#footer-nav {
  display: block;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}
#footer-nav li {
  display: inline;
  padding: 50px;
}

#footer a {
  font-size: 20px;
  font-weight: bold;
  color: #1abc9c;
  text-decoration: none;
}

#footer-data li {
  padding: 150px;
  font-size: 10px;
  display: inline-block;
  padding: 0;
}

a:hover {
  color: #F6A623;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
